﻿* {
    box-sizing: border-box;
    font-family:Verdana, sans-serif;
}
.top-nav {
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    height: 56px;
    width: 100%;
    position: fixed;
    z-index: 3;
}
.nav-button>a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 16px 36px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 4px;
    cursor: pointer;
    height: 56px;
    transition-duration: 0.8s;
}
.nav-button-right a {
    float: right;
    display: block;
    color: #000;
    text-align: center;
    padding: 16px 24px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 4px;
    transition-duration: 0.8s;
    cursor: pointer;  
    height: 56px; 
}
.top-nav a:hover {
    background-color: #ccc;
    color: #000;
}
.main-container {
    font-size: 14px;
    margin-left: 93px;
    margin-right: 94px;
}
header {
    text-align: center;
    margin: 0px auto; 
    position: relative;
    color: black;
    margin-left: 93px;
    margin-right: 94px;
}
.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.edts {
    padding: 4px 8px;
    font-weight: bolder;
    font-size: 36px;
    background-color: rgb(0 0 0 / 75%);
}
.architects {
    font-weight: lighter;
    font-size: 36px;
}

#about {
    padding: 28px 0;
}
#contact {
    padding: 28px 0;
}
.project-title {
    padding: 8px 0;
}
.container-project {
    padding: 28px 0;
    max-width: 1564px;

}
.project-row-padding {
    display: flex;
    /* margin-bottom: 12px; */
    margin-top: 24px;
}
.project-column-padding {
    /* flex-wrap: wrap; */
    flex:25%;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-right: 24px;
}
.project-column-padding>div {
    justify-content: space-between;
    margin: auto;
}
.content-container {
    position: relative;
    max-width: 362px;
    max-height: 242px;
    box-sizing: border-box;
}
.name-house {
    padding: 8px 16px;
    background-color: #000;
    color: white;
    position: absolute;
    top: 0;
    left:0;
}
.about-row-container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.about-column-container {
    flex:25%;
    padding:4px;
    margin:8px 0;
}
.about-column-container>div {
    /* flex-direction: row; */
    width: auto;
}
.about-column-container img {
    /* filter: grayscale(80%); */
    filter: saturate(0.3);
}

img {
    width: 100%;
}
.level {
    font-size: 14px;
    color: #000;
    opacity: 0.5;
}

.container-contact {
    margin-bottom: 24px;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    background-color: black;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}
#submit:hover {
    background-color: #ccc; 
    color: #000;
}
h3 {
    font-size: 25px;
}
.contact-link {
    text-align: center;
    background-color: #f1f1f1;
    padding: 16px;
}
.contact-link:hover {
    background-color:  #ccc;
}
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}
tr {
    border: 0.5px solid #dddddd;
}

th {
    background-color: white;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}
.text-footer {
    background-color: #000;
    color: #ccc;
    text-align: center;
    padding: 24px;
    font-size: 10px;
}
button {
    border-style: none;
    background-color:#f1f1f1 ;
    cursor: pointer;
    width: 100%;
    padding: 16px;
    transition-duration: 0.8s;
}
button:hover {
    background-color: #ccc;
}

.header-image img {
    width: 100%;
    height: 100%;
    margin-top: 36px;
}


 @media only screen and (max-width: 600px) {
    .content {
        text-align: justify;
    }
    .main-container {
        font-size: 12px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .nav-button {
        float: none;
        width: 100%;
    }
    .nav-button-right {
        display: none;
    }
    .about-row-container {
        flex-direction: column;
        justify-content: center;
        row-gap: 12px;
    }
    .project-row-padding {
        flex-direction: column;
        justify-content: center;
        row-gap: 12px;
        flex-wrap: wrap;
        flex-grow: 2;
    }
    .header-image img {
        width: 100%;
    }
    .architects {
        display: none;
    }
    table {
        font-size: 10px;
    }
    #about, #contact, #projects {
        padding: 0;
    }

    .content-container{
        position: relative;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
    }
    .content-container img {
        width: 100%;
    }
    .project-column-padding {
        flex: 100%;
    }
} 
@media only screen and (max-width: 768px) {
    .content {
        text-align: justify;
    }
    .architects {
        display: none;
    }
    .main-container {
        font-size: 12px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .nav-button {
        float: none;
        width: 100%;
    }
    header {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        height: inherit;
    }
    .nav-button-right {
        display: none;
    }
    .about-row-container {
        flex-direction: column;
        width: 100%;
        row-gap: 12px;
        }
    .project-row-padding {
        flex-direction: column;
        margin: 0 12px;
    }
    .project-column-padding {
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
        column-gap: 24px;
    }
    .header-image {
        width: 100%;
    }
    .architects span {
        display: none;
    }
}